{% extends "layout.html" %}
{% block title %}User History: {{ current_user.username }} - ShadowCipher{% endblock %}
{% block page %}User History: {{ current_user.username }} - ShadowCipher{% endblock %}

{{ super() }}

{% block content %}
<nav class="nav-extended purple" style="margin-bottom:10px">
  <div class="nav-wrapper">
    <a href="#" style="font-size: 1.5em" class="brand-logo left">{{ player.username }}'s Game History</a>
  </div>
  <nav>
    <div class="nav-wrapper purple">
      <form action="/user_search" method="GET">
        <ul class="row">
          <li>
            <input type="search" name="username" id="username" placeholder="Search username">
          </li>
          <li>
            <input type="submit" value="Search">
          </li>
        </div>
      </form>
    </div>
  </nav>
</nav>

<div class="row" style="position: absolute; height:20px; top:0; z-index:10; width:100vw">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="blue lighten-5 col s10 offset-s1">
          <div class="row"> 
              <div class="col s11" style="font-weight: bold;text-align: center">
                {{ message }}
              </div>
              <div class="col s1">
                <a href="" style="font-size:1.5em" >&times;</a>
              </div>  
          </div>
        </div> 
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<div class="row" style="margin: 0; padding:0; margin-top:-10px">
  <div class="col s12 m9 l8">
    <h1>Students</h1>
  </div>
  <div class="col s12 m3 l4">
    <!-- show course name here -->
    {#<!-- <h1>Class List for {{ selected_course.name }}</h1>  -->#}
  </div>
</div>

<div class="row">
  <section class="col s12 m9 l8" style="overflow-y:scroll; height: 70vh">
    <!-- show students currently not in course here -->
    <div class="row" style="width: 100%">
      {#<!--{% for student in unenrolled_students %}
      <article class="col s12 m4">
        <div class="card">
          <div class="center card-content">
            <img class="circle responsive-img" src="{{ student.image }}">
            <ul>
              <li>
                <p>{{ student.first_name }} {{ student.last_name }}</p>
                <p>{{ student.id }}</p>
                <p>{{ student.programme }}</p>
              </li>
            </ul>
          </div>
          <div class="card-action center">
            <a class="waves-effect waves-light btn" href="/enroll/{{ student.id }}/{{ selected_course }}">ENROLL</a>
          </div>
        </div>
      </article>
      {% endfor %} -->
      #}
    </div>
  </section>

  <section class="col s12 m3 l4" style="overflow-y:scroll; height: 70vh">
    <ul class="collection">
      {#<!-- show students currently in course here -->
      <!-- {% for student in enrolled_students %}
      <li class="collection-item avatar">
        <img src="{{ student.image }}" alt="" class="circle">
        <div class="row">
          <div class="col">
            <span class="title">{{ student.first_name }} {{ student.last_name }}</span>
            <p>{{ student.id }}</</p>
          </div>
          <a class="right waves-effect waves-light btn" href="/drop_course/{{ student.id }}/{{ selected_course }}">Remove</a>
        </div>
      </li>
      {% endfor %} -->#}
    </ul>
  </section>
</div>

{% endblock %}
